/* -------------------- My own styles --------------------*/

@font-face {
  font-family: 'Press Start 2 P';
  src: local('Press Start 2 P'), url(./assets/PressStart2P-Regular.ttf)format('truetype');
}

.navbar {
  justify-content: space-evenly;
  width: 100%;
}
.container.navbar-container {
  margin-left: 0;
  margin-right: 0;
  color: white;
}

.row-thing {
  text-align: center;
  margin-top: 15px;
}

.row-thing span, .row-thing Button {
  margin: 15px 40px 15px;
}

.cool-button {
  background-color: #f700ff;
  border-color: #be02c4;
}

.cool-button:hover {
  background-color: #e600ee;
  border-color: #e600ee;
}

.btn.btn-primary.cool-button:active {
  background-color: #be02c4;
  border-color: #be02c4;
}

.navbar .cool-button {
  float: left;
}

body {
  font-family: 'Press Start 2 P';
}

.navbar {
  background-color: #454545;
}

.navbar a {
  color: #f700ff;
}

.navbar a:hover, .navbar a:active {
  color: #be02c4;
}

Canvas {
  border: #454545 solid 2px;
  border-radius: 5px;
  cursor: crosshair;
  margin: 30px;
}

.guess {
  margin-top: 20px;
  font-size: 120%;
}
